body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
}

#frame {
}

#board {
  width: 70vmin;
  height: 70vmin;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  border-style: solid;
  border-width: 7.5vmin;
  border-radius: 2vmin;
  box-shadow: 5px 5px black;
  border-color: hsl(0 90% 50%);
  background-color: hsl(0 90% 50%);

  margin-top: -7.5vmin; /* allow label on top */
  margin-bottom: -7.5vmin; /* allow buttons on frame */
}

#frame-top, #frame-bottom {
  box-sizing: border-box;
  height: 7.5vmin;
  padding: 0 1vmin;
  display: flex;
}

#frame-top {
  justify-content: center;
  align-items: center;
}

h1 { 
  font-size: 5vmin;
  margin: 0;
  text-align: center;
  color: hsl(40 60% 50%);
  text-shadow: black 1px 2px;
  font-style: italic;
}

#frame-bottom {
  justify-content: space-between;
}

.dial {
  width: 6.5vmin;
  height: 6.5vmin;
  border-radius: 3.25vmin;
  background-color: white;
}

.row {
  display: flex;
}

.cell {
  box-sizing: border-box;
  flex-grow: 1;
  aspect-ratio: 1/1;

  border-style: solid;
  border-width: 1px;

  border-color: hsl(0 0% 80%);
  background-color: hsl(0 0% 90%);
}

.cell.full {
  border-color: hsl(0 0% 20%);
  background-color: hsl(0 0% 10%);
}

.cell.corner.LT {
  border-radius: 2vmin 0 0 0;
}

.cell.corner.RT {
  border-radius: 0 2vmin 0 0;
}

.cell.corner.LB {
  border-radius: 0 0 0 2vmin;
}

.cell.corner.RB {
  border-radius: 0 0 2vmin 0;
}
